{% extends 'master' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="game.css">
<div class="game_field">
  <canvas id="special_messages"></canvas>
  <canvas id="game_canvas"></canvas>
</div>
<script src="/game_classes/Base/Level.js"></script>
<script src="/game_classes/Base/Entity.js"></script>
<script src="/game_classes/Base/Element.js"></script>
<script src="/game_classes/Elements/Styles/TextStyle.js"></script>
<script src="/game_classes/Elements/TextElement.js"></script>
<script src="/game_classes/Elements/ImageElement.js"></script>
<script src="/game_classes/Elements/ExpirationCheckers/FrameExpiration.js"></script>
<script src="/game_classes/Elements/ExpirationCheckers/EventExpiration.js"></script>
<script src="/game_classes/Elements/Positions/Position.js"></script>
<script src="/game_classes/Elements/Positions/TextPosition.js"></script>
<script src="/game_classes/Elements/Positions/ImagePosition.js"></script>
<script src="/game_classes/Elements/Transitions/FadeIn.js"></script>
<script src="/game_classes/Elements/Transitions/FadeOut.js"></script>
<script src="/game_classes/Paths/Path.js"></script>
<script src="/game_classes/Paths/LinearPath.js"></script>
<script src="/game_classes/Paths/WavePath.js"></script>
<script src="/game_classes/Projectiles/Projectile.js"></script>
<script src="/game_classes/Projectiles/Beam.js"></script>
<script src="/game_classes/Ammos/Ammo.js"></script>
<script src="/game_classes/Ammos/BaseAmmo.js"></script>
<script src="/game_classes/Ammos/FreezingAmmo.js"></script>
<script src="/game_classes/Ammos/LaserAmmo.js"></script>
<script src="/game_classes/Weapons/Cannon.js"></script>
<script src="/game_classes/Weapons/BaseCannon.js"></script>
<script src="/game_classes/Weapons/NCannon.js"></script>
<script src="/game_classes/Weapons/BeamCannon.js"></script>
<script src="/game_classes/Ships/SpaceShip.js"></script>
<script src="/game_classes/Ships/ArmedShip.js"></script>
<script src="/game_classes/Ships/PlayerShip.js"></script>
<script src="/game_classes/Ships/BaseEnemyShip.js"></script>
<script src="/game_classes/Factories/ShipFactory.js"></script>
<script src="/game_classes/Factories/AmmoFactory.js"></script>
<script src="/game_classes/Factories/WeaponFactory.js"></script>
<script src="/game_classes/Patterns/Patterns.js"></script>
<script src="/game_classes/Patterns/ShipPatterns.js"></script>
<script src="/game_classes/Patterns/AmmoPatterns.js"></script>
<script src="/game_classes/Patterns/WeaponPatterns.js"></script>
<script src="/game_classes/Levels/Templates/KillXLevel.js"></script>
<script src="/game_classes/Levels/Tutorials/TutorialPack.js"></script>
<script src="/game_classes/Levels/Tutorials/MovingPractice.js"></script>
<script src="/game_classes/Levels/Tutorials/ShootingPractice1.js"></script>
<script src="/game_classes/Levels/Tutorials/ShootingPractice2.js"></script>
<script src="/game_classes/Levels/Tutorials/ShootingPractice3.js"></script>
<script src="/game_classes/Levels/Tutorials/ShootingPractice4.js"></script>
<script src="/game_classes/Levels/Tutorials/ShootingPractice5.js"></script>
<script src="/game_classes/HUD/WeaponHUD.js"></script>
<script src="/game_classes/Extras/Shield.js"></script>
<script src="resource_loader.js"></script>
<script src="framework.js"></script>
<script src="game.js"></script>
{% endblock %}
