<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="An innovative 2D space shooter game">
  <meta name="keywords" content="spaceship, space, shooter, 2d, spacehshooter, arcade">
  <meta nem="author" content="Kovacs Gergo">
  <title>RocketX</title>
  <link rel="stylesheet" type="text/css" href="master.css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="master.js"></script>
</head>
<body>
<header>
  <div class="__header_container">
    <div id="logo">
      <a href="/"><i class="fa fa-star" aria-hidden="true"></i>RocketX - #ROCKETX</a>
    </div>
    {% if currentUser %}
    <div class="__navigation_bar">
      <button id="_open_sidebar_button"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    {% else %}
    <div class="__login_container">
      <form id="login_form" action="/login" method="post">
        {{ csrfField }}
        <input id="__login_email_field" class="__login_field" type="email" name="email" placeholder="Email">
        <input id="__login_password_field" class="__login_field" type="password" name="password" placeholder="Password">
        <button id="__login_button" class="__login_button" type="submit"><i class="fa fa-sign-in"
                                                                            aria-hidden="true"></i> Login
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</header>
{% if currentUser %}
<div id="_sidebar">
  <nav>
    <span class="_sidebar_title _no_select">Menu</span>
    <div class="_sidebar_subtitle _no_select">Account</div>
    <div id="_sidebar_news" class="_sidebar_link _no_select"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News
    </div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> My profile</div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> Messages</div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> Settings</div>
    <div class="_sidebar_subtitle _no_select">Game</div>
    <div id="_sidebar_play" class="_sidebar_link _no_select"><i class="fa fa-play" aria-hidden="true"></i> Play</div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> Manage ships</div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> Auction house</div>
    <div class="_sidebar_link _no_select"><i class="fa fa-lock" aria-hidden="true"></i> Toplists</div>
  </nav>
</div>
{% endif %}
{% block content %}{% endblock %}
{% block footer %}
<footer>
  <nav>
    <ul>
      <li><a href="/about"><i class="fa fa-user-circle" aria-hidden="true"></i>Author</a> |</li>
      <li><a href="https://github.com/Gerike/jatekfejlesztes_bead/" target="_blank"><i class="fa fa-github"
                                                                                       aria-hidden="true"></i>Github</a>
      </li>
    </ul>
  </nav>
</footer>
{% endblock %}
</body>
</html>
