{% extends 'master' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/registration_page/register.css">
<div class="content">
  <form class="register_form" method="post">
    {{ csrfField }}
    <h1>Registration</h1>
    <div class="input_field">Username:<br><input type="text" name="username" placeholder="Username"></div>
    <div class="input_field">Email:<br><input type="email" name="email" placeholder="Email address"></div>
    <div class="input_field">Password:<br><input type="password" name="password" placeholder="Password"></div>
    <!-- <div class="input_field"><input type="checkbox">I have accepted the Terms and services<br>
      <input type="checkbox">I want to subscribe to the newsletter
    </div> -->
    <button class="register_button" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button>
  </form>
</div>

{% if errors %}
  <script>
    {%for error in errors %}
      _createNotification('error', '{{error}}');
    {% endfor %}
  </script>
{% endif %}
{% endblock %}
