{% extends 'master' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="welcome.css">
<article class="article welcome_article">
  <h1>Welcome at RocketX, a new arcade shooter's home</h1>
  <h2>We hope you will enjoy yourself here</h2>
</article>
<article class="article article1">
  <h1>TOP SCORES</h1>
  <table id="highscores">
    <tr class="highscore_row highscore_row_first">
      <td class="name">PLAYER1</td>
      <td class="point">1000</td>
    </tr>
    <tr class="highscore_row highscore_row_second">
      <td class="name">PLAYER2</td>
      <td class="point">900</td>
    </tr>
    <tr class="highscore_row highscore_row_third">
      <td class="name">PLAYER3</td>
      <td class="point">800</td>
    </tr>
    <tr class="highscore_row">
      <td class="name">PLAYER4</td>
      <td class="point">700</td>
    </tr>
    <tr class="highscore_row">
      <td class="name">PLAYER5</td>
      <td class="point">600</td>
    </tr>
  </table>
</article>
<article class="article article2" onclick="location.href = '/register';">
  <h1>Not registered yet?</h1>
  <h2>Most of the features becomes available after you signed up for FREE</h2>
</article>
<article class="article article3" onclick='_createNotification("warning", "That feature unfortunately does not work yet")'>
  <h1>Make your voice heard today</h1>
  <h2>Share your opinions and recommendations with us at our forum</h2>
</article>
<article class="article article4">
  <h1 class="link">Latest changes</h1>
  <table id="changes">
    <tr>
      <td id="ln_date0"></td>
      <td id="ln_message0"></td>
    </tr>
    <tr>
      <td id="ln_date1"></td>
      <td id="ln_message1"></td>
    </tr>
    <tr>
      <td id="ln_date2"></td>
      <td id="ln_message2"></td>
    </tr>
    <tr>
      <td id="ln_date3"></td>
      <td id="ln_message3"></td>
    </tr>
    <tr>
      <td id="ln_date4"></td>
      <td id="ln_message4"></td>
    </tr>
  </table>
</article>
<script src="welcome.js"></script>
{% endblock %}
