# Ignoring everything inside Webstorm IDE local settings
.idea/

.idea/workspace.xml
RocketX/config/express-admin/config.json
RocketX/config/express-admin/custom.json
RocketX/config/express-admin/users.json
RocketX/config/express-admin/settings.json
RocketX/custom.json
RocketX/database/development.sqlite
RocketX/settings.json
RocketX/users.json
RocketX/database/development.sqlite
RocketX/Y
RocketX/config.json
RocketX/database/development.sqlite
