{% extends 'master' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="game.css">
<div class="game_field"><canvas id="game_canvas"></canvas></div>
<script src="/game_classes/Ammos/Projectile.js"></script>
<script src="/game_classes/Ammos/BaseAmmo.js"></script>
<script src="/game_classes/Weapons/BaseCannon.js"></script>
<script src="/game_classes/Ships/SpaceShip.js"></script>
<script src="/game_classes/Ships/PlayerShip.js"></script>
<script src="resource_loader.js"></script>
<script src="framework.js"></script>
<script src="game.js"></script>
{% endblock %}
