<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>RocketX</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <section>
    <div class="__wrapper">
      <div class="__header">
      <span class="logo">RocketX - #ROCKETX</span>
      <div class="login">
      <form>
        <input class="__login_field" type="text" name="username" placeholder="Username">
        <input class="__login_field" type="password" name="password" placeholder="Password">
        <input class="__login_button" type="submit" value="Login">
      </form>
      </div>
      </div>
      <div class="__placeholder"></div>
      {% block content %}{% endblock %}

      {% block footer %}
        <div class="__footer">
          <ul>
            <li>
              <a href="/about">Author</a>
            </li>
            <li>
              <a href="https://github.com/Gerike/jatekfejlesztes_bead/" target="_blank">Github repository </a>
            </li>
            <li>
                <a href="/api" target="_blank">Public API</a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </div>
  </section>

</body>
</html>
