.game_field {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 800px;
  height: 400px;
  text-align: center;
  background-image: url("/assets/background.jpg");
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  top: 0;
  left: 0;
}

.menu{
  font-size: 10px;
  cursor:pointer;
  width: 100px;
  background: #000000;
  color: #fff;
  position:absolute;
  z-index: 999999;
  display: none;
  box-shadow: 0 0 10px #713C3C;
}
.menu ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.menu ul a{
  text-decoration: none;
}
.menu ul li{
  border: 1px solid white;
  width: 88%;
  padding: 6%;
  background-color: #000000;
  color: white;
}
.menu ul li:hover{
  background-color: #0037f7;
}
