/* Global **/
body {
  font: 15px/1.5 Arial, Helvetice, sans-serif;
  color: #ffffff;
  margin: 0;
  background-image: url("/assets/background.jpg");
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Header **/
.__header_container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #003687;
  color: #ffffff;
  padding: 5px;
  min-height: 30px;
  border-bottom: 1px solid #1e90ff;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header #logo {
  cursor: pointer;
  float: left;
  margin-top: 4px;
}

header #logo:hover a{
  color: #00fcff;
}

header .__login_container {
  float: right;
}

header input {
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 3px solid #1e90ff;
}

header input:hover {
  border-bottom: 3px solid #00b2ff;
}

header input:focus {
  border-bottom: 3px solid #00fcff;
}

header button {
  height: 25px;
  background-color: #1e90ff;
  color: white;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

header button:hover {
  background-color: #00fcff;
  color: #003687;
}

header .__navigation_bar{
  float: right;
}

/* Footer **/
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #003687;
  color: #ffffff;
  padding: 5px;
  min-height: 20px;
  border-top: 1px solid #1e90ff;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer li {
  display: inline;
}

/* Media Queries */
@media (max-width: 703px) {
  body {
    background-image: none;
    background-color: #090a71;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  header {
    position: static;
    width: auto;
  }

  header #logo {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  header .__login_container {
    float: none;
    text-align: center;
    width: 100%;
  }

  header .__login_container input {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  footer{
    position: static;
    width: auto;
  }

  header .__navigation_bar{
    float: none;
    display: block;
    margin: auto;
    width: 80%;
  }
  .navButton{
    width: 24%;
  }
}

@media(max-width: 450px){

  header .__navigation_bar{
    width: 50%;
  }

  .navButton{
    width: 20%;
  }
}




