/* Global **/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  background-image: url("/assets/background.jpg");
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 20px;
}

._no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

/* Header **/
.__header_container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #003687;
  color: #ffffff;
  min-height: 30px;
  border-bottom: 1px solid #1e90ff;
}

header button {
  height: 25px;
  background-color: #1e90ff;
  color: white;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header #logo {
  padding-left: 20px;
  cursor: pointer;
  float: left;
  margin-top: 4px;
}

header #logo:hover a {
  color: #00fcff;
}

header .__login_container {
  float: right;
  padding: 5px;
  padding-right: 15px;
}

header input {
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 3px solid #1e90ff;
}

header input:hover {
  border-bottom: 3px solid #00b2ff;
}

header input:focus {
  border-bottom: 3px solid #00fcff;
}

#_open_sidebar_button {
  width: 100%;
  border-left: 1px solid #1e90ff;
  border-right: 1px solid #1e90ff;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: #003687;
  height: 30px;
}

#_open_sidebar_button:hover {
  background-color: #00fcff;
  color: #003687;
}

header button:hover {
  background-color: #00fcff;
  color: #003687;
}

header .__navigation_bar {
  max-width: 60px;
  width: 8%;
  float: right;
}

/* Sidebar **/

#_sidebar {
  display: none;
  position: fixed;
  top: 31px;
  right: 0px;
  width: 15%;
  height: 100vh;
  border-left: 1px solid #1e90ff;
  background-color: #003687;
  overflow-x: hidden;
  overflow-y: auto;
}

._sidebar_title {
  width: 80%;
  text-align: left;
  display: block;
  padding-top: 20px;
  font-weight: bold;
  font-size: 24px;
  margin: auto;
}

._sidebar_link {
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  display: block;
  font-size: 16px;
  width: 60%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #1e90ff;
  color: white;
  background-color: #003687;
  margin: auto;
  cursor: pointer;
}

._sidebar_link:hover {
  color: #00fcff;
}

._sidebar_separator {
  display: block;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #1e90ff;
  margin: auto;
}

._sidebar_subtitle {
  width: 80%;
  text-align: left;
  display: block;
  padding-top: 30px;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  border-bottom: 1px solid #1e90ff;
  padding-left: 10px;
}

/* Footer **/
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #003687;
  color: #ffffff;
  padding: 5px;
  min-height: 20px;
  border-top: 1px solid #1e90ff;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer li {
  display: inline;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    background-image: none;
    background-color: #090a71;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  header {
    position: static;
    width: auto;
  }

  header #logo {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  header .__login_container {
    float: none;
    text-align: center;
    width: 100%;
  }

  header .__login_container input {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  footer {
    position: static;
    width: auto;
  }

  header .__navigation_bar {
    float: none;
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
  }

  #_sidebar {
    position: static;
    float: none;
    text-align: center;
    width: 100%;
    border-bottom: #1e90ff;
    background-color: #003687;
    overflow-x: hidden;
    height: auto;
    padding-bottom: 20px;
  }

  ._sidebar_title {
    text-align: center;
  }

  ._sidebar_subtitle {
    text-align: center;
  }
}


