#message {
  margin: auto;
  color: white;
  text-align: center;
}
#message_table{
  margin: auto;
  text-align: center;
}

td {
  padding-right: 20px;
  padding-top: 20px;
}
tr {
  margin-bottom: 20px;
}
