.latest_news{
  width: 35%;
  margin-top: 20px;
  clear: left;
  float: left;
  margin-left: 35px;
}

.latest_news table {
  margin-top: 20px;
}

.latest_news table tr td {
  padding-right: 15px;
}

.link:hover{
  color: deepskyblue;
  cursor: pointer;
}
.welcome_box > h1 {
  font-size: 45px;
  padding-top: 30px;
  padding-left: 20px;
}

.welcome_box > h2 {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 40px;
}

.welcome_page_container {
  color: white;
}

.welcome_box {
  width: 100%;
  height: 200px;
  text-align: left;
}

.registernow_box:hover {
  cursor: pointer;
  color: deepskyblue;
}

.registernow_box {
  padding: 10px;
  width: 40%;
  float: right;
  margin-bottom: 50px;
  border: 1px solid transparent;
}

.registernow_box > h1 {
  font-size: 35px;
}

.registernow_box > h2 {
  font-size: 15px;
}

.forum_box {
  width: 40%;
  float: right;
  border: 1px solid transparent;
  padding: 10px;
}

.forum_box > h1 {
  font-size: 35px;
}

.forum_box > h2 {
  font-size: 15px;
}

.forum_box:hover {
  cursor: pointer;
  color: deepskyblue;
}

.toplist_box {
  margin-top: 30px;
  float: left;
  margin-left: 50px;
  width: 35%;
  text-align: center;
}

.toplist_tablink {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  border: 1px solid transparent;
}

.toplist_tablink:hover {
  border: 1px solid deepskyblue;
  color: deepskyblue;
}

.toplist_name {
  font-size: 20px;
  padding: 10px 10px;
}

.toplist_name_first {
  padding: 10px 10px;
  font-size: 40px;
}

.toplist_name_second {
  padding: 10px 10px;
  font-size: 30px;
}

.toplist_score {
  font-size: 15px;
  padding: 10px 10px;
}

.toplist_score_first {
  padding: 10px 10px;
  font-size: 35px;
}

.toplist_score_second {
  padding: 10px 10px;
  font-size: 25px;
}

.toplist_box > h1 {
  font-size: 35px;
}

#main_page_toplist {
  text-align: center;
}
