.content {
  text-align: center;
}

.content > .register_form > h1 {
  padding-top: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 50px;
}

.register_form {
  border: 1px solid white;
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

.register_label {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.register_field {
  border: 2px solid black;
  padding: 10px;
  border-bottom: 3px solid deepskyblue;
}

.register_field:focus {
  border-bottom: 3px solid greenyellow;
}

.field_container {
  padding-bottom: 10px;
}

.register_button {
  background-color: transparent;
  border: solid 2px white;
  color: white;
  padding: 10px;
  width: 120px;
}

.register_button:hover {
  border: solid 2px deepskyblue;
}

.error {
  color: red;
}

.errors {
  margin-bottom: 40px;
}
