body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background-image: url("/assets/background.jpg");
}

* {
  padding: 0;
  margin: 0;
}

.__play_link{
  color: white;
}
.__new_game{
  border: 1px solid white;
  margin: auto;
  padding: 5px;
  width: 100px;
}
.__new_game:hover{
  border: 1px solid yellow;
  margin: auto;
  padding: 5px;
  width: 100px;
}
.__placeholder {
  height:40px;
  width:100%;
}
.__login_field {
   background-color: black;
   padding: 5px;
   border: none;
   border-bottom: 2px solid blue;
   color: white;
 }

.__login_field:hover {
  border-bottom: 2px solid darkblue;
}

.__login_field:focus {
  border-bottom: 2px solid yellow;
}

.__login_button {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 5px;
}
.__login_button:hover {
  border: 1px solid white;
}

.__header {
  padding-bottom: 10px;
  padding-top: 10px;
  width:100%;
  height: 30px;
  position: fixed;
  background-color: black;
  text-align: center;
  color: white;
}
.__header > .logo {
  font-size: 15px;
  position: absolute;
  left:10px;
  font-weight: bold;
}

.__header > .__login {
  font-size: 15px;
  position: absolute;
  font-weight: bold;
  right:20px;
}

.__banner {
  background: #744d82;
  background: -moz-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -webkit-gradient(radial, top center, 0, center center, 100%, color-stop(11%, #744d82), color-stop(99%, #503d67), color-stop(100%, #503d67));
  background: -webkit-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -o-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -ms-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: radial-gradient(ellipse at top, #744d82 11%, #503d67 99%, #503d67 100%);
}

.__banner {
  height: 80vh;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.__banner .banner__inner h1 {
  font-weight: 500;
  font-size: 180px;
  color: #ffffff;
}

.__banner .banner__inner h2 {
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 80px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}

.__banner .banner__inner p,
.__banner .banner__inner a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.__banner .banner__inner h2 span {
  display: inline-block;
  margin: 0 30px;
}

.__footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 20px;
}

.__footer ul {
  display: table;
  margin: auto;
}

.__footer li {
  border-left: solid 2px #ccc;
  display: table-cell;
}

.__footer li:first-child {
  border: none;
}

.__footer li a {
  transition: opacity 0.5s;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  color: #ccc;
}

.__footer li a:hover {
  opacity: 1;
}

.__header > .__current_user {
  font-size: 15px;
  position: absolute;
  right:20px;
  top: 5px;
}

.__current_user_label{
  padding-right: 10px;
  font-size: 20px;
}

.__current_user_name{
  font-size: 25px;
  font-weight: bold;
}
